<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">

    <div class="container" th:fragment="content">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About Us
                    <small> Sencrypt </small>
                </h1>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Team members and goal:</h3>
                    </div>
                    This is a project about Seachable-encryption made for the Advanced Software Engineering Techniques course.
                    <div class="panel-body">
                        <ul class="list-group">
                            <li style="" class="list-group-item"> Coordinating teacher: Ferucio Laurentiu Țiplea</li>
                            <li class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Butnaru Alin-Silviu</li>
                            <li class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Buzneanu Alexandru-Gabriel</li>
                            <li class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Plecan Daniel</li>
                            <li class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Popoiu George</li>
                            <li class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Tudose Tudor</li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </div>

</html>