<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">

    <div class="container" th:fragment="content">
        <form id="docForm" action="#" th:action="@{/doc/new}" th:object="${documentdto}" method="post">
        <div class="input-group" style="min-width: 95%;">
            <span class="glyphicon glyphicon-console"  aria-hidden="true"></span>
            <textarea th:field="*{text}"  type="text" class="form-control custom-control" placeholder="Text to be saved.." rows="4" style="resize: vertical;max-height:500px;width:95%" aria-describedby="basic-addon1"></textarea>
        </div>
            <input th:field="*{encryptionType}" type="text" placeholder="Encryption type.."/>
            <input style="padding: 5px;" class="btn btn-primary btn-lg" type="submit" value="Store"/>
        </form>
    </div>

</html>

<!--
<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Action <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Separated link</a></li>
    </ul>
</div>-->